@using CoastCavern
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Login");
    }
}
<!DOCTYPE HTML>
<!--
    Overflow 1.0 by HTML5 UP
    html5up.net | twitter.com/n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@Umbraco.Field("pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    @*<script src="~/scripts/jquery.min.js" type="text/javascript"></script>
        <script src="~/scripts/jquery.poptrox-2.2.js" type="text/javascript"></script>
        <script src="~/scripts/skel.min.js" type="text/javascript"></script>
        <script src="~/scripts/init.js" type="text/javascript"></script>*@

    <!--FAV ICONS-->
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @*<link rel="stylesheet" href="~/css/skel-noscript.css" type="text/css" />*@
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
</head>
<body id="body">
    <!-- Header -->
    <section id="header">
        <header>
            <h1>@Umbraco.Field("siteName", recursive: true)</h1>
            <p>@Umbraco.Field("byline", recursive: true)</p>
            <!--Navi-->
            <div>
                @{
                    var rootNodes = Umbraco.TypedContentAtRoot().Where("Visible");

                    foreach (var node in rootNodes)
                    {
                        <a style="margin: 5px;" href="@node.Url">-@node.Name-</a>
                    }
                }
            </div>
        </header>
        <div>
            @{

                if (Model.Content.Id == 1055)
                {
                    ZeitController zeit = new ZeitController();
                    var test = DateTime.Today.DayOfWeek.ToString();
                    var time = zeit.GetTime(DateTime.Today.DayOfWeek.ToString());

                    if (time != null)
                    {
                        var from = DateTime.ParseExact(time.ElementAt(0), "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
                        var to = DateTime.ParseExact(time.ElementAt(1), "HH:mm", System.Globalization.CultureInfo.InvariantCulture);


                        if (DateTime.Now.TimeOfDay >= from.TimeOfDay && DateTime.Now.TimeOfDay < to.TimeOfDay)
                        {
                            <img style="max-width:100%; max-height:100%; border: 2px solid black; border-radius: 10px;" src="@Umbraco.TypedMedia(Convert.ToInt32(Umbraco.Field("openImage").ToString())).Url" alt="Open/Closed Image" />
                        }
                        else
                        {
                            <img style="max-width:100%; max-height:100%; border: 2px solid black; border-radius: 10px;" src="@Umbraco.TypedMedia(Convert.ToInt32(Umbraco.Field("closedImage").ToString())).Url" alt="Open/Closed Image" />
                        }
                        <h4>Öffnungszeiten diese Woche:</h4>
                        <p>
                            @for (int i = 0; i < 7; i++)
                            {
                                var day = (DayOfWeek)((i + 1) % 7);
                                time = zeit.GetTime(day.ToString());

                                from = DateTime.ParseExact(time.ElementAt(0), "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
                                to = DateTime.ParseExact(time.ElementAt(1), "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
                                if (from.AddMinutes(5) < to)
                                {
                                    <uselessTag>@day.ToString(): @from.ToShortTimeString() bis @to.ToShortTimeString()</uselessTag><br />
                                }
                                else
                                {
                                    <uselessTag>@day.ToString(): Geschlossen!</uselessTag><br />
                                }

                            }
                        </p>
                    }
                }
            }
        </div>
    </section>

    @RenderBody()


    <section id="footer">
        <div class="copyright">
            <ul class="menu">
                <li>&copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true).</li>
            </ul>
            @*@{
                    var users = Membership.GetAllUsers();
                }
                <p>
                    Online User:
                    @foreach (MembershipUser user in users)
                    {
                        if (user.LastActivityDate < DateTime.UtcNow.AddMinutes(-(Membership.UserIsOnlineTimeWindow + 1)))
                        {
                            var test = string.Format(user.UserName + ", ");
                            @test
                        }
                    }
                </p>
                <p>
                    Offline User:
                    @foreach (MembershipUser user in users)
                    {
                        if (!user.IsOnline)
                        {
                            var test = string.Format(user.UserName + ", ");
                            @test
                        }
                    }
                </p>*@
        </div>
        <div id="eyeRape" style="position: absolute; width: 10px; height: 10px; background-color: black;">

        </div>
    </section>
    <script>
        document.getElementById('eyeRape').onclick = function () {
            document.getElementById('body').className += " animated infinite rotateIn";
            document.getElementById('body').className += " animated infinite flash";
            document.getElementById('header').className += " animated infinite flash";
            document.getElementById('footer').className += " animated infinite flash";
            document.getElementsByTagName('article')[0].className += " animated infinite flash";
        };
    </script>
    <script src="~/scripts/Overflow.min.js"></script>
</body>

</html>
