@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<article class="article-full" id="@(CurrentPage.IsFirst() ? "first" : null) container box style1 @(CurrentPage.IsEven() ? "right" : "left")">
    <div class="inner" style="margin-right: 0; padding-right: 0; margin-left: 0; padding-left: 0;">
        @{ 
            var pageSize = Convert.ToInt32(Umbraco.Field("itemsPerPage").ToString());
            var page = 1;
            int.TryParse(Request.QueryString["page"], out page);

            var items = Model.Content.Children.Where(x => x.GetPropertyValue<bool>("verstecken") == false).OrderByDescending(x => x.UpdateDate);
            var totalPages = (int)Math.Ceiling((double)items.Count() / pageSize);

            if (page > totalPages)
            {
                page = totalPages;
            }
            else if (page < 1)
            {
                page = 1;
            }

            foreach (var node in items.Skip((page - 1) * pageSize).Take(pageSize))
            {
                <header>
                    <h3 style="font-size: 0.9em;">
                        @(node.GetPropertyValue<string>("uberschrift"))
                    </h3>
                </header>
                <div class="font-small">
                    <div id="inhaltsText">
                        @(Html.Raw(node.GetPropertyValue("inhalt")))
                    </div>
                    <small style="font-size: 0.5em; color: #BBBBBB;">@(node.UpdateDate)</small>
                </div>
                <hr style="margin: 0;"/>
            }

            if (totalPages > 1)
            {
                <div class="pagination">
                    <ul style="list-style: none;">
                        @if (page > 1)
                        {
                            <li class="pagination-item"><a href="?page=@(page-1)">Prev</a></li>
                        }
                        @for (int p = 1; p < totalPages + 1; p++)
                        {
                            <li class="@(p == page ? "active" : string.Empty) pagination-item">
                                <a href="?page=@p">@p</a>
                            </li>
                        }
                        @if (page < totalPages)
                        {
                            <li class="pagination-item"><a href="?page=@(page+1)">Next</a></li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</article>